#player-template {
    display: none;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2147483645;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5, 5);
}

.header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1,
p {
    text-align: center;
}

.large-btn {
    padding: 10px;
}

.plus-icon {
    background-color: rgb(67, 208, 67);
    margin-left: 5px;
}

.x-icon {
    background-color: red;
    margin-left: 5px;
}

.circular-icon {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    border-radius: 100rem;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}
 
.text-with-icon {
    font-size:20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.player {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: #232323;
}

.btn-box {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    display: flex;
    min-width: 50px;
}

.player-box {
    text-align: left;
    flex-grow: 1; 
}

.arrow-btn-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.x-btn-box {
    flex-grow: 1;
    margin: 0;
}
.playerWrapper {
    display: flex;
    justify-content: center;
}

button.arrow {
    font-weight: bold;
    font-size: 30px;
}

button.commands {
    height: 100%;
    width: 100%;
}
button.x-btn {
    color:black;
    font-size: 20px;
    background-color: red;
}

.audioPlayer {  
    width: 100%;
}

#playerPlaceholderTemplate {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: auto;
}

.flexi-content-wrapper {
    margin-top: 0;
    flex: 1;
    position: relative;
}

#playerContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid rgb(51, 143, 255);
    background-color: #666;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: auto;
    padding-bottom: 10px;
}

.song-title {
    margin-bottom: 4px;
    margin-top: 0;
    color: #cccccc
}

.white-text {
    color: #fefefe;
}

.align-center {
    text-align: center;
}
.progress-bar {
    width: 100%;
    background-color: rgb(255, 203, 105);
}

.progress-bar-fill {
    display: block;
    background-color: orange;
    
    transition: width 500ms ease-in-out;
}
.title-wrapper {
    position: relative;
}
.title-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title-text {
    z-index: 10;
}