#playlistTemplate {
    display: none;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2147483645;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5, 5);
}

.header {
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1,
p {
    text-align: center;
}

.large-btn {
    padding: 10px;
}

.plus-icon {
    background-color: rgb(67, 208, 67);
}

.x-icon {
    background-color: red;
}



.circular-icon {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    border-radius: 100rem;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-with-icon {
    font-size: 20px;
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.playlist {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
    text-align: center;
    align-items: stretch;
    column-gap: 5px;
    width: 100%;
    background-color: #232323;
}

.btn-box {
    vertical-align: middle;
}

.songinfo-wrapper {
    overflow: hidden;
    text-align: left;
    flex-grow: 1;
    flex-basis: 0;
}

.playlist-wrapper {
    justify-content: center;
    transform: translateY(0px);

}

button.arrow {
    font-weight: bold;
    font-size: 30px;
}

button.commands {
    height: 100%;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

button.x-btn {
    color: #cccccc;
    font-size: 20px;
    background-color: black;
}

.audioPlayer {
    width: 100%;
    display: block;
    margin: 0;
}

#emptyPlaylistTemplate {
    display: none;
}

.wrapper {
    min-height: 100%;
    overflow: auto;
}

.flexi-content-wrapper {
    margin-top: 0;
    flex: 1;
    position: relative;
}

#playlistContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid rgb(51, 143, 255);
    background-color: #666;
    overflow: auto;
    padding-bottom: 10px;
}

.song-title {
    margin-bottom: 4px;
    margin-top: 0;
    color: #cccccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;

}


.white-text {
    color: #fefefe;
}

.align-center {
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: rgb(255, 203, 105);
}

.progress-bar-fill {
    display: block;
    background-color: orange;
    transition: width 500ms ease-in-out;

}

.title-wrapper {
    position: relative;
}

.title-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title-text {
    z-index: 10;
}

#playerContainer {
    display: block;
    margin: 0;
    flex-grow: 1;
}

#currentSongName {
    margin: 5px
}

.hidden {
    display: none;
}

.vertical-flex {
    display: flex;
}

.horizontal-flex {
    display: flex;
    flex-direction: column;
}

.column-gap-3 {
    column-gap: 3px;
}

.black-bg {
    background-color: #232323;
}

.nopadding {
    padding: 0 !important;
}

.selected-song {
    color: white;
    font-weight: bold;
}

button.fadeable {
    opacity: 1;
    transition: opacity 0.5s
}

button.fadeable:disabled {
    opacity: 0.7;
}

.transition-transform {
    transition: transform 0.5s;
}

#playlistPlaceholder {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#playerWrapper {
    height:100%;
    transition: height 0.5s;
}
#playerWrapper.slide-up {
    height: 0%;
}